body {
  font-family: "Pragati Narrow", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
.orange-color {
  color: orange;
}
section {
  display: flex;
  margin-bottom: 150px;
}
.half {
  width: 50%;
  padding-left: 5%;
}
.half img {
  width: 90%;
}
.link-btn {
  text-decoration: none;
  background-color: orange;
  background-image: linear-gradient(orange, tomato);
  padding: 10px 40px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
}
.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.dream-big {
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.give-pad {
  padding-right: 120px;
}
